parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue

        -
            message: "#Variable \\$this might not be defined.*#"
            path: src/templates/settings.php

        -
            message: "#Cannot access property \\$id on WP_Screen\\|null.*#"
            path: src/NewsDataIO.php

    level: max
    paths:
        - src
